body
{
    font-family: 'Roboto';
}
.top-container
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.top-line
{
    width: 25%;
    height: 100px;
    text-align: center;
    position: relative;
    top:2rem;
}
.top-text
{
    width: auto;
    height: 100px;
    text-align: center;
}
.middle-container
{
    width: 40%;
    height: auto;
    text-align:center;
    font-size:24px;
    color:#ff0000;
    position: relative;
    padding-bottom: 2rem;
}
.custom-button
{
    border:0;
    background-color:#ff0000;
    color:white;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5 px lightgray;
} 
.bottom-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:250px;
    height: 300px;
    border: 1px solid #ff0000;
    border-radius: 8px;
}
.box
{
    margin-left:60px;
}
h2
{
    color: #ff0000;
}
.bottom-text
{
    color: #ff0000;
    text-decoration: line-through #ff0000;
    font-size:20px;
}
.bottom-button
{
    position: absolute;
    bottom:10px;
    right: 20px;
    color: #ff0000;
}
@media(min-width:320px) and (max-width:480px)
{
    .top-line
    {
        display: none;
    } 
    .top-container
    {
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: wrap;
    }
    .middle-container
    {
        width: auto;
        height: 25px;
        text-align:center;
        font-size: 32px;
        position: relative;
        top:20px;
        color:#ff0000;
        margin: 3px;
    }
    .middle-text
    {
        display:none;
    }
}